<ul class="img-grid" data-pg-collapsed>
    <li ng-repeat="friend in DB.friends">
        <a href="#">
            <img ng-src="{{DB.persons[friend.person].userImage}}" src="images/guy.jpg" alt="image" data-target="#friend-{{friend.id}}" />
        </a>
        <div class="modal fade pg-show-modal" id="friend-{{friend.id}}" tabindex="-1" role="dialog" aria-hidden="true"> 
            <div class="modal-dialog"> 
                <div class="modal-content"> 
                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                         
                        <h4 class="modal-title">{{DB.persons[friend.person].firstName+" "+DB.persons[friend.person].lastName}}</h4> 
                    </div>                     
                    <div class="modal-body"> 
                        <p>{{DB.persons[friend.person].place}}</p>
                        <p>{{DB.persons[friend.person].gender}}</p>
                        <p>{{DB.persons[friend.person].birthDate}}</p>
                        <p>{{DB.persons[friend.person].id}}</p>
                    </div>                     
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-default" data-dismiss="modal">Unfriend</button>                         
                        <button type="button" class="btn btn-primary">Close</button>                         
                    </div>                     
                </div>                 
            </div>             
        </div>
    </li>
</ul>