  <div  class="col-xs-12 col-md-6 col-lg-4 item" ng-repeat="post in publicPosts | orderObjectBy:'id':true">
                <div class="timeline-block">
                  <div class="panel panel-default">

                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-left">
                          <a href="">
                            <img ng-src="{{DB[post._id.substr(0,44)].userImage}}" class="media-object">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                          <a href="">{{DB[post._id.substr(0,44)].name }}</a>

                          <span>on {{post._id.substr(45) | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="panel-body">
                      <p>{{post.message}}</p>
                    </div>
                    <div class="view-all-comments">
                      <a ng-click="DB.get('comments',post.comments)">
                        <i class="fa fa-comments-o"></i> View all
                      </a>
                      <span>{{post.comments.length}} comments</span>

                    </div>
                   <div datalist="comments"></div>
                   <div dataform="comments"></div>
                             
           
                  </div>
                </div>
              </div>
