<div class="modal-content" >
    <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
        <h4 class="modal-title" >Add a friend</h4>
    </div>
    <div class="modal-body" >
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="formInput11">Field label</label>
                    <input type="text" class="form-control" id="" placeholder="Admin Password" ng-model="password">
                </div>
                <button type="button" class="btn btn-default" ng-click="login()">Admin Login</button>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="label bg-dark">15</span>Requests
                    </div>
                    <div class="panel-body" ui-jq="slimScroll" ui-options="{height:'250px', size:'8px'}">
                        <div class="media" ng-repeat="request in accountRequests">
                            <span class="pull-left thumb-sm"><img src="img/a2.jpg" alt="..."></span>
                            <div class="media-body">
                                <div class="pull-right text-center text-muted">
                                    <strong class="h4">{{request.date}}</strong>
                                </div>
                                <a href class="h4">{{request.username}}</a>
                                <small class="block"><a href>{{request.peerFeedID}}</a></small>
                                <small class="block"><a href>Public:{{request.public}}</a></small>
                                <small class="block m-t-sm">{{request.message}}</small>
                            </div>
                            <button type="button" class="btn btn-default" ng-click="createAccount(request)">ADD</button>
                        </div>
                        <div class="line pull-in"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="sendFriendRequest(user)" >Request</button>
    </div>
</div>