<div class="col-md-4">
    <h4 class="page-section-heading">
    Connections
    </h4>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">
            <div class="pull-right">
                <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#friendrequest">
                    Add
                    <i class="fa fa-plus">
                    </i>
                </a>
            </div>
            <i class="icon-user-1">
            </i>
            FriendRequests
        </div>
        <div class="panel-body" ng-init="DB.get('friendRequests')" >
            <ul class="img-grid" data-pg-collapsed >
                <li ng-repeat="friendRequest in DB.friendRequests" ng-hide="friendRequest.accepted || friendRequest.peerFeedID == $root.peerFeedID" >
                    <a data-target="#friend-{{friendRequest.id}}" data-toggle="modal" >
                        <img ng-src="{{DB.persons[friendRequest.id].userImage}}" src="images/guy.jpg" alt="image" />
                    </a>
                    <div class="modal fade pg-show-modal" id="friend-{{friendRequest.id}}"  tabindex="-1" role="dialog" aria-hidden="true" >
                        <div class="modal-dialog" >
                            <div class="modal-content" >
                                <div class="modal-header" >
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
                                    <h4 class="modal-title" >{{DB.persons[friendRequest.person].firstName+" "+DB.persons[friendRequest.id].lastName}}</h4>
                                </div>
                                <div class="modal-body" >
                                    <p >{{DB.persons[friendRequest.person].place}}</p>
                                    <p >{{DB.persons[friendRequest.person].gender}}</p>
                                    <p >{{DB.persons[friendRequest.person].birthDate}}</p>
                                    <p >{{DB.persons[friendRequest.person].id}}</p>
                                    <p >{{friendRequest.message}}
                                        <p >
                                        </div>
                                        <div class="modal-footer" >
                                            <button type="button" class="btn btn-default" data-dismiss="modal" >Deny</button>
                                            <button type="button" class="btn btn-primary"   ng-click="acceptFriendRequest(friendRequest)" >Accept</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                </div>
                <div class="panel-heading panel-heading-gray">
                    <i class="icon-user-1">
                    </i>
                    Friends
                </div>
                <div class="panel-body" ng-init="DB.get('friends')" datalist="friends">
                </div>
                <div class="modal fade pg-show-modal" id="friendrequest" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" dataform="friendRequests" >
                    </div>
                </div>
            </div>
        </div>